body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif; /* Fuente para texto principal */
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif; /* Fuente para encabezados */
}

nav {
    background-color: #ffffff; /* Azul marino oscuro */
    color: white;
}