body {
    background-color: #f0f0f0; /* Color de fondo suave */
}

h1, h2 {
    color: #000000; /* Azul marino oscuro */
}

.btn-success {
    background-color: #2FBF71; /* Verde más vibrante */
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave */
}

.btn-success:hover {
    background-color: #218838; /* Color más oscuro al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
}

.card {
    border-radius: 10px; /* Esquinas redondeadas */
    overflow: hidden; /* Oculta el desbordamiento */
    transition: transform 0.2s; /* Efecto de transformación */
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.card-header {
    background-color: #14314e; /* Azul marino oscuro */
    color: white;
}

.card-body {
    background-color: white; /* Fondo blanco para el contenido */
}

.no-evaluaciones {
    color: #555; /* Texto gris suave */
    font-size: 1.1em; /* Tamaño de fuente un poco más grande */
}

.animate__animated {
    animation-duration: 0.6s; /* Duración de la animación */
}

/* Botón "Ver detalles" - estilo inicial */
.btn-outline-light {
    color: #003366; /* Color del texto (contraste con fondo claro) */
    border: 2px solid #003366; /* Borde de color azul oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efecto suave */
}

/* Efecto de hover para el botón */
.btn-outline-light:hover {
    background-color: #003366; /* Fondo azul oscuro al pasar el mouse */
    color: white; /* Texto blanco para contraste */
    border-color: #003366; /* Mantiene el borde azul oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
}
