.table-container {
    border-radius: 12px;
    overflow: hidden;
}

.table {
    border-collapse: separate; /* Necesario para que el border-radius funcione en las celdas */
    border-radius: 12px;
    overflow: hidden;
}

.table thead th {
    background-color: #343a40;
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #dee2e6;
}

.table thead th:first-child {
    border-top-left-radius: 12px;
}

.table thead th:last-child {
    border-top-right-radius: 12px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.card-subtitle {
    font-weight: 500;
    font-size: 1.25rem;
}

.shadow {
    border-radius: 12px; /* Ajustado para que coincida con el de la tabla */
    transition: box-shadow 0.3s;
}

.shadow:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
